---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';

let allPosts = await getCollection('posts');
allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<BaseLayout>
    <div class="grid-cols-2 grid">
        <!-- intro -->
        <div class="max-w-lg">
            <h3> Welcome to my playground and blog</h3>
            <p>This used to be a portfolio site however it never sat right with me. I am not hunting leads or searching for work.</p>
            <p>Instead, I will continue the space as a blog and sandbox. A place for sharing interactive tools, games, and more. The blog will remain a running commentary on all things. First and center will be the "play things". Hope you enjoy!</p>
        </div>
        <div>
            <!-- 3 blog posts? -->
        </div>
    </div>
    <div class="grid-cols-2 grid">
        <div>
            <h3>What *are* these?</h3>
            <p>I tend to script anything I do more than once... Some of this is that. Some of this is born out of necessity like when a free tool goes subscription model. I am also learning spanish and use games and tools to get me there. A couple projects below are built with love and lua! Love2D is amazing and enabling me to develop rapid games to help with Nora's (my 5yo) learning and development.</p>
        </div>
        <div class=" px-3">
            <h4> Sandbox Items </h4>
            <ul>
                <li>Spanish Flashcards</li>
                <li>Wordmunchers ES</li>
                <li>Princess Nora</li>
                <li>Pong (lua)</li>
                <li>Notes</li>
                <li>Budgets</li>
                <li>TripInit</li>
            </ul>
        </div>
    </div>
</BaseLayout>
