---
import Search from '@/components/Search'
---
<header class='p-0 pb-2 mb-5 prose-a:no-underline text-center lg:text-left  '>
  <div class='flex justify-between items-center p-2'>
    <div class='flex'>
      <a href='/' class='px-4  rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600'>HOME</a>
      <!-- <a href="/sandbox" class='px-4  rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600' >Sandbox</a> -->
      <a href="/art" class='px-4  rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600' >Art</a>
      <a href="/blog" class='px-4  rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600' >Blog</a>
      <a href='/about' class='px-4  rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600'>About</a>
    </div>
    <Search />
  </div>
</header>
